<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2008-01</key>
	<array>
		<string>2008-01-01</string>
		<string>2008-01-02</string>
		<string>2008-01-03</string>
		<string>2008-01-04</string>
		<string>2008-01-05</string>
		<string>2008-01-06</string>
		<string>2008-01-07</string>
		<string>2008-01-08</string>
		<string>2008-01-09</string>
		<string>2008-01-10</string>
	</array>
	<key>2008-02</key>
	<array>
		<string>2008-02-01</string>
		<string>2008-02-02</string>
		<string>2008-02-03</string>
		<string>2008-02-04</string>
		<string>2008-02-05</string>
		<string>2008-02-06</string>
		<string>2008-02-07</string>
		<string>2008-02-08</string>
		<string>2008-02-09</string>
		<string>2008-02-10</string>
	</array>
	<key>2008-03</key>
	<array>
		<string>2008-03-01</string>
		<string>2008-03-02</string>
		<string>2008-03-03</string>
		<string>2008-03-04</string>
		<string>2008-03-05</string>
		<string>2008-03-06</string>
		<string>2008-03-07</string>
		<string>2008-03-08</string>
		<string>2008-03-09</string>
		<string>2008-03-10</string>
	</array>
	<key>2008-04</key>
	<array>
		<string>2008-04-01</string>
		<string>2008-04-02</string>
		<string>2008-04-03</string>
		<string>2008-04-04</string>
		<string>2008-04-05</string>
		<string>2008-04-06</string>
		<string>2008-04-07</string>
		<string>2008-04-08</string>
		<string>2008-04-09</string>
		<string>2008-04-10</string>
	</array>
	<key>2008-05</key>
	<array>
		<string>2008-05-01</string>
		<string>2008-05-02</string>
		<string>2008-05-03</string>
		<string>2008-05-04</string>
		<string>2008-05-05</string>
		<string>2008-05-06</string>
		<string>2008-05-07</string>
		<string>2008-05-08</string>
		<string>2008-05-09</string>
		<string>2008-05-10</string>
	</array>
	<key>2008-06</key>
	<array>
		<string>2008-06-01</string>
		<string>2008-06-02</string>
		<string>2008-06-03</string>
		<string>2008-06-04</string>
		<string>2008-06-05</string>
		<string>2008-06-06</string>
		<string>2008-06-07</string>
		<string>2008-06-08</string>
		<string>2008-06-09</string>
		<string>2008-06-10</string>
	</array>
	<key>2008-07</key>
	<array>
		<string>2008-07-01</string>
		<string>2008-07-02</string>
		<string>2008-07-03</string>
		<string>2008-07-04</string>
		<string>2008-07-05</string>
		<string>2008-07-06</string>
		<string>2008-07-07</string>
		<string>2008-07-08</string>
		<string>2008-07-09</string>
		<string>2008-07-10</string>
	</array>
	<key>2008-08</key>
	<array>
		<string>2008-08-01</string>
		<string>2008-08-02</string>
		<string>2008-08-03</string>
		<string>2008-08-04</string>
		<string>2008-08-05</string>
		<string>2008-08-06</string>
		<string>2008-08-07</string>
		<string>2008-08-08</string>
		<string>2008-08-09</string>
		<string>2008-08-10</string>
	</array>
	<key>2008-09</key>
	<array>
		<string>2008-09-01</string>
		<string>2008-09-02</string>
		<string>2008-09-03</string>
		<string>2008-09-04</string>
		<string>2008-09-05</string>
		<string>2008-09-06</string>
		<string>2008-09-07</string>
		<string>2008-09-08</string>
		<string>2008-09-09</string>
		<string>2008-09-10</string>
	</array>
	<key>2008-10</key>
	<array>
		<string>2008-10-01</string>
		<string>2008-10-02</string>
		<string>2008-10-03</string>
		<string>2008-10-04</string>
		<string>2008-10-05</string>
		<string>2008-10-06</string>
		<string>2008-10-07</string>
		<string>2008-10-08</string>
		<string>2008-10-09</string>
		<string>2008-10-10</string>
	</array>
	<key>2008-11</key>
	<array>
		<string>2008-11-01</string>
		<string>2008-11-02</string>
		<string>2008-11-03</string>
		<string>2008-11-04</string>
		<string>2008-11-05</string>
		<string>2008-11-06</string>
		<string>2008-11-07</string>
		<string>2008-11-08</string>
		<string>2008-11-09</string>
		<string>2008-11-10</string>
	</array>
	<key>2008-12</key>
	<array>
		<string>2008-12-01</string>
		<string>2008-12-02</string>
		<string>2008-12-03</string>
		<string>2008-12-04</string>
		<string>2008-12-05</string>
		<string>2008-12-06</string>
		<string>2008-12-07</string>
		<string>2008-12-08</string>
		<string>2008-12-09</string>
		<string>2008-12-10</string>
	</array>
	<key>2009-01</key>
	<array>
		<string>2009-01-01</string>
		<string>2009-01-02</string>
		<string>2009-01-03</string>
		<string>2009-01-04</string>
		<string>2009-01-05</string>
		<string>2009-01-06</string>
		<string>2009-01-07</string>
		<string>2009-01-08</string>
		<string>2009-01-09</string>
		<string>2009-01-10</string>
	</array>
	<key>2009-02</key>
	<array>
		<string>2009-02-01</string>
		<string>2009-02-02</string>
		<string>2009-02-03</string>
		<string>2009-02-04</string>
		<string>2009-02-05</string>
		<string>2009-02-06</string>
		<string>2009-02-07</string>
		<string>2009-02-08</string>
		<string>2009-02-09</string>
		<string>2009-02-10</string>
	</array>
	<key>2009-03</key>
	<array>
		<string>2009-03-01</string>
		<string>2009-03-02</string>
		<string>2009-03-03</string>
		<string>2009-03-04</string>
		<string>2009-03-05</string>
		<string>2009-03-06</string>
		<string>2009-03-07</string>
		<string>2009-03-08</string>
		<string>2009-03-09</string>
		<string>2009-03-10</string>
	</array>
	<key>2009-04</key>
	<array>
		<string>2009-04-01</string>
		<string>2009-04-02</string>
		<string>2009-04-03</string>
		<string>2009-04-04</string>
		<string>2009-04-05</string>
		<string>2009-04-06</string>
		<string>2009-04-07</string>
		<string>2009-04-08</string>
		<string>2009-04-09</string>
		<string>2009-04-10</string>
	</array>
	<key>2009-05</key>
	<array>
		<string>2009-05-01</string>
		<string>2009-05-02</string>
		<string>2009-05-03</string>
		<string>2009-05-04</string>
		<string>2009-05-05</string>
		<string>2009-05-06</string>
		<string>2009-05-07</string>
		<string>2009-05-08</string>
		<string>2009-05-09</string>
		<string>2009-05-10</string>
	</array>
	<key>2009-06</key>
	<array>
		<string>2009-06-01</string>
		<string>2009-06-02</string>
		<string>2009-06-03</string>
		<string>2009-06-04</string>
		<string>2009-06-05</string>
		<string>2009-06-06</string>
		<string>2009-06-07</string>
		<string>2009-06-08</string>
		<string>2009-06-09</string>
		<string>2009-06-10</string>
	</array>
	<key>2009-07</key>
	<array>
		<string>2009-07-01</string>
		<string>2009-07-02</string>
		<string>2009-07-03</string>
		<string>2009-07-04</string>
		<string>2009-07-05</string>
		<string>2009-07-06</string>
		<string>2009-07-07</string>
		<string>2009-07-08</string>
		<string>2009-07-09</string>
		<string>2009-07-10</string>
	</array>
	<key>2009-08</key>
	<array>
		<string>2009-08-01</string>
		<string>2009-08-02</string>
		<string>2009-08-03</string>
		<string>2009-08-04</string>
		<string>2009-08-05</string>
		<string>2009-08-06</string>
		<string>2009-08-07</string>
		<string>2009-08-08</string>
		<string>2009-08-09</string>
		<string>2009-08-10</string>
	</array>
	<key>2009-09</key>
	<array>
		<string>2009-09-01</string>
		<string>2009-09-02</string>
		<string>2009-09-03</string>
		<string>2009-09-04</string>
		<string>2009-09-05</string>
		<string>2009-09-06</string>
		<string>2009-09-07</string>
		<string>2009-09-08</string>
		<string>2009-09-09</string>
		<string>2009-09-10</string>
	</array>
	<key>2009-10</key>
	<array>
		<string>2009-10-01</string>
		<string>2009-10-02</string>
		<string>2009-10-03</string>
		<string>2009-10-04</string>
		<string>2009-10-05</string>
		<string>2009-10-06</string>
		<string>2009-10-07</string>
		<string>2009-10-08</string>
		<string>2009-10-09</string>
		<string>2009-10-10</string>
	</array>
	<key>2009-11</key>
	<array>
		<string>2009-11-01</string>
		<string>2009-11-02</string>
		<string>2009-11-03</string>
		<string>2009-11-04</string>
		<string>2009-11-05</string>
		<string>2009-11-06</string>
		<string>2009-11-07</string>
		<string>2009-11-08</string>
		<string>2009-11-09</string>
		<string>2009-11-10</string>
	</array>
	<key>2009-12</key>
	<array>
		<string>2009-12-01</string>
		<string>2009-12-02</string>
		<string>2009-12-03</string>
		<string>2009-12-04</string>
		<string>2009-12-05</string>
		<string>2009-12-06</string>
		<string>2009-12-07</string>
		<string>2009-12-08</string>
		<string>2009-12-09</string>
		<string>2009-12-10</string>
	</array>
</dict>
</plist>
